# ----------------------------------------------------
# OBSIDIAN IGNORING
# ----------------------------------------------------

# 1. Workspace
.obsidian/workspace.json
.obsidian/workspaces.json
.obsidian/workspaces/

# 2. Plugins: To avoid risks with API keys and such
.obsidian/plugins/

# 3. Cache/Metadata: Other files that frequently change or are system-specific
.obsidian/cache/
.obsidian/app.json
.obsidian/publish.json

# --- General System Files ---
.DS_Store
.trash/